#Title {
    text-align: center;
}
#Input {
    position: absolute;
    bottom: 5%;
    left: 25%;
    height: 10%;
    width: 50%;
}

#TextInput {
    
    width: 100%;
}

#Display {

    text-align: center;
}

input {
    width: 100%;
    height: 100%;
}